$card-width: 100%;
$primary-color: #b421fc;
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Courier New', 
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0 0 5px 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-texts {
  padding: 2px 16px;
  height: 50px;
}

.card-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-flex-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}