$card-width: 100%;
$primary-color: #B421FC;

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0 0 5px 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-texts {
    padding: 2px 16px;
    height:50px;
  }

  .card-image{
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .sliderStyles {
    --organic-arrow-thickness: 6px;
    --organic-arrow-color: white;
    --control-bullet-color: $primary-color;
    --loader-bar-color: $primary-color;
    height:500px;
  }